<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos - Ecoleta</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/about-us.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/responsive.css">


</head>
<body>

    <div id="about-us">

        {% include "partials/page-header.html" %}

        <main>
            <h2>Quem é a Ecoleta</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a condimentum risus, ut bibendum orci. Mauris sit amet pellentesque dolor. Vestibulum ac turpis et orci dignissim semper. Quisque elementum tristique porta. Aliquam eget blandit mi, et consequat ligula. Morbi ac elementum tellus, id pellentesque ligula. Nam vestibulum lectus porta felis accumsan, eget hendrerit quam cursus. Fusce tincidunt sollicitudin iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras est turpis, gravida ut pellentesque eget, lobortis ut ante. Nullam fringilla semper iaculis. Fusce vel imperdiet leo, vel commodo massa. Nulla vitae consequat augue.</p>
            <p>Aliquam vitae vestibulum ligula. Suspendisse sed pharetra magna, sit amet vestibulum sem. Sed lobortis dui sed pellentesque vestibulum. Nulla eu tortor porta, dignissim justo at, egestas ipsum. Nam finibus lacus id mollis pretium. Sed egestas diam a elementum aliquet. Integer laoreet, nulla sed pellentesque elementum, elit urna semper arcu, et dapibus sem dolor ac nibh. Sed id orci efficitur, maximus velit sed, fringilla tortor. Praesent semper lectus at diam euismod imperdiet. Etiam ultricies, eros id rutrum gravida, eros justo lacinia neque, vel pellentesque enim dui egestas dui.</p>
            <p>Phasellus lorem magna, congue ac sapien vel, pellentesque molestie risus. Duis eget congue sapien. Nam sed risus dictum ante mollis varius ac eu felis. Etiam velit tortor, porttitor eu eleifend ac, bibendum a tellus. Integer mi nibh, bibendum eu efficitur interdum, vehicula eu elit. In hac habitasse platea dictumst. In iaculis felis nisl.</p>

        </main>

        <div class="after"></div>

    </div>

    {% include "partials/page-footer.html" %}
    
    <!-- <script src="scripts/create-point.js"></script> -->
</body>
</html>