<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Ponto de coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Cidade ou Estado</label>
            <div class="seach field">
                <input type="text" name="search" id="procure a Cidade" placeholder="Pesquise por cidade ou estado">
                <button>
                    <img src="icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>