<footer>
    <div class="footer">
        <div class="pages">
            <h2>Ecoleta</h2>
            <a href="/">Home</a>
            <a href="/about-us">Quem Somos</a>
            <a href="/search">Pontos já cadastrados</a>
            <a href="/create-point">Cadastre um ponto de coleta</a>
        </div>
        <div class="infos">
            <p>Ecoleta Serviços Ecológicos LTDA.,</br>
                Rua Ipê Amarelo, nº 120, Belo Horizonte, Minas Gerais.</p>
            <strong>Desenvolvido por Fábio Corrêa (@fabioscx)</strong>
        </div>
    </div>
</footer>